@font-face {
	font-family: 'Macondo';
	src: url('Macondo-Regular.ttf');
}
* {
	-fx-font-family: 'Macondo', cursive;
}

#root {
	-fx-background-image: url("GUI/InventoryBg.jpg");
	-fx-background-position: center;
	-fx-background-size: cover;
	-fx-background-repeat: no-repeat;
}

.tool-bar {
	-fx-background-image: url("GUI/up.png");
	-fx-background-position: center;
	-fx-background-size: cover;
	-fx-background-repeat: no-repeat;
}

.label {
	-fx-text-fill: white;
}

#back {
	-fx-background-color: none;
	-fx-background-image: url("GUI/prew.png");
	-fx-background-position: center;
	-fx-background-size: cover;
	-fx-background-repeat: no-repeat;
	-fx-background-radius: 20px;
	-fx-border-radius: 12px;
}

#back:hover {
	-fx-background-image: url("GUI/prewDark.png");
}

#back:pressed {
	-fx-border-color: green;
	-fx-border-width: 5px;
}


.radio-button .radio {
	-fx-background-color: maroon;
}

.radio-button:selected .radio {
	-fx-background-color: white;
}

.radio-button .dot {
	-fx-background-color: white;
}

.radio-button:selected .dot {
	-fx-background-color: lime;
}

.unequip {
	-fx-background-color: none;
	-fx-background-image: url("GUI/btn.jpg");
	-fx-background-position: center;
	-fx-background-size: cover;
	-fx-background-repeat: no-repeat;
}

.unequip:hover {
	-fx-background-image: url("GUI/btnDark.jpg");
}

.unequip:pressed {
	-fx-border-color: maroon;
	-fx-border-width: 2px;
}
