@font-face {
	font-family: 'Macondo';
	src: url('Macondo-Regular.ttf');
}

* {
	
	-fx-font-family: 'Macondo', cursive;
}
#root {
	-fx-background-image: url("GUI/MainMenuBg.jpg");
	-fx-background-position: center;
	-fx-background-size: cover;
	-fx-background-repeat: no-repeat;
}

.label {
	-fx-font-size: 96px;
}

.button {
	-fx-font-size: 24px;
	-fx-text-fill: white;
	-fx-background-image: url("GUI/btn.jpg");
	-fx-background-size: Cover;
	-fx-background-color: none;
}

.button:hover {
	-fx-background-image: url("GUI/btnDark.jpg");
	-fx-cursor: hand;
}

.button:pressed {
	-fx-border-color: maroon;
	-fx-border-width: 3px;
}